* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #12163a;
    color: #fff;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #12163a;
    text-align: center;
  }
  
  .logo img {
    width: 80px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    width: 300px;
    margin-left: 25px;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #a07cff;
    background-color: #12163a;
    color: #a07cff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .button:hover {
    background-color: #a07cff;
    color: #12163a;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    color: #a07cff;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .register h2, .register p {
    color: #fff;
    margin: 5px 0;
  }
  

  @media (max-width: 400px) {
    .container {
      padding: 15px;
    }
  
    input, button {
      font-size: 14px;
      padding: 12px;
    }
  }
  